doctype html
html
  head
    title="Course API"
    link(rel='stylesheet', href='/dist/normalize.css')
    link(href="https://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet")
    link(rel='stylesheet', href='/dist/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    block header
    .content
      block content
    block scripts
